/*用户名样式*/

.right {
    float: right!important;
}


/*购物车样式*/

#shoppingCart {
    width: 60px;
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 100;
}


/*添加至购物车的按钮切换样式*/

#tianjia1 {
    cursor: pointer;
}

#tianjia2 .button {
    font-size: 1.25rem;
    background: none;
    color: #333333;
    cursor: pointer;
}

#tianjia2 #shu {
    cursor: default;
}