<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.starryfood.dao.CartFoodMapper">
  <resultMap id="BaseResultMap" type="com.practice.starryfood.bean.CartFood">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="cartId" jdbcType="VARCHAR" property="cartid" />
    <result column="foodId" jdbcType="VARCHAR" property="foodid" />
    <result column="foodNum" jdbcType="INTEGER" property="foodnum" />
    <result column="foodOneTotalPrice" jdbcType="DECIMAL" property="foodonetotalprice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, cartId, foodId, foodNum, foodOneTotalPrice
  </sql>
  <select id="selectByExample" parameterType="com.practice.starryfood.bean.CartFoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cart_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart_food
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cart_food
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.practice.starryfood.bean.CartFoodExample">
    delete from cart_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.practice.starryfood.bean.CartFood">
    insert into cart_food (uuid, cartId, foodId, 
      foodNum, foodOneTotalPrice)
    values (#{uuid,jdbcType=VARCHAR}, #{cartid,jdbcType=VARCHAR}, #{foodid,jdbcType=VARCHAR}, 
      #{foodnum,jdbcType=INTEGER}, #{foodonetotalprice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.practice.starryfood.bean.CartFood">
    insert into cart_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="cartid != null">
        cartId,
      </if>
      <if test="foodid != null">
        foodId,
      </if>
      <if test="foodnum != null">
        foodNum,
      </if>
      <if test="foodonetotalprice != null">
        foodOneTotalPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="cartid != null">
        #{cartid,jdbcType=VARCHAR},
      </if>
      <if test="foodid != null">
        #{foodid,jdbcType=VARCHAR},
      </if>
      <if test="foodnum != null">
        #{foodnum,jdbcType=INTEGER},
      </if>
      <if test="foodonetotalprice != null">
        #{foodonetotalprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.practice.starryfood.bean.CartFoodExample" resultType="java.lang.Long">
    select count(*) from cart_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cart_food
    <set>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cartid != null">
        cartId = #{record.cartid,jdbcType=VARCHAR},
      </if>
      <if test="record.foodid != null">
        foodId = #{record.foodid,jdbcType=VARCHAR},
      </if>
      <if test="record.foodnum != null">
        foodNum = #{record.foodnum,jdbcType=INTEGER},
      </if>
      <if test="record.foodonetotalprice != null">
        foodOneTotalPrice = #{record.foodonetotalprice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cart_food
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      cartId = #{record.cartid,jdbcType=VARCHAR},
      foodId = #{record.foodid,jdbcType=VARCHAR},
      foodNum = #{record.foodnum,jdbcType=INTEGER},
      foodOneTotalPrice = #{record.foodonetotalprice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.practice.starryfood.bean.CartFood">
    update cart_food
    <set>
      <if test="cartid != null">
        cartId = #{cartid,jdbcType=VARCHAR},
      </if>
      <if test="foodid != null">
        foodId = #{foodid,jdbcType=VARCHAR},
      </if>
      <if test="foodnum != null">
        foodNum = #{foodnum,jdbcType=INTEGER},
      </if>
      <if test="foodonetotalprice != null">
        foodOneTotalPrice = #{foodonetotalprice,jdbcType=DECIMAL},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.practice.starryfood.bean.CartFood">
    update cart_food
    set cartId = #{cartid,jdbcType=VARCHAR},
      foodId = #{foodid,jdbcType=VARCHAR},
      foodNum = #{foodnum,jdbcType=INTEGER},
      foodOneTotalPrice = #{foodonetotalprice,jdbcType=DECIMAL}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>