<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.starryfood.dao.FoodMapper">
  <resultMap id="BaseResultMap" type="com.practice.starryfood.bean.Food">
    <id column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="measurement" jdbcType="VARCHAR" property="measurement" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="hasSold" jdbcType="INTEGER" property="hassold" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="isDel" jdbcType="INTEGER" property="isdel" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.practice.starryfood.bean.Food">
    <result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fid, fname, price, measurement, img, hasSold, createTime, updateTime, createUser, 
    updateUser, isDel
  </sql>
  <sql id="Blob_Column_List">
    introduce
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.practice.starryfood.bean.FoodExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.practice.starryfood.bean.FoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from food
    where fid = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from food
    where fid = #{fid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.practice.starryfood.bean.FoodExample">
    delete from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.practice.starryfood.bean.Food">
    insert into food (fid, fname, price, 
      measurement, img, hasSold, 
      createTime, updateTime, createUser, 
      updateUser, isDel, introduce
      )
    values (#{fid,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{measurement,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{hassold,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, 
      #{updateuser,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}, #{introduce,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.practice.starryfood.bean.Food">
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="measurement != null">
        measurement,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="hassold != null">
        hasSold,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="measurement != null">
        #{measurement,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="hassold != null">
        #{hassold,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.practice.starryfood.bean.FoodExample" resultType="java.lang.Long">
    select count(*) from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update food
    <set>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.fname != null">
        fname = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.measurement != null">
        measurement = #{record.measurement,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.hassold != null">
        hasSold = #{record.hassold,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        createUser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null">
        updateUser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null">
        isDel = #{record.isdel,jdbcType=INTEGER},
      </if>
      <if test="record.introduce != null">
        introduce = #{record.introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update food
    set fid = #{record.fid,jdbcType=VARCHAR},
      fname = #{record.fname,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      measurement = #{record.measurement,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      hasSold = #{record.hassold,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      createUser = #{record.createuser,jdbcType=VARCHAR},
      updateUser = #{record.updateuser,jdbcType=VARCHAR},
      isDel = #{record.isdel,jdbcType=INTEGER},
      introduce = #{record.introduce,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update food
    set fid = #{record.fid,jdbcType=VARCHAR},
      fname = #{record.fname,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      measurement = #{record.measurement,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      hasSold = #{record.hassold,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      createUser = #{record.createuser,jdbcType=VARCHAR},
      updateUser = #{record.updateuser,jdbcType=VARCHAR},
      isDel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.practice.starryfood.bean.Food">
    update food
    <set>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="measurement != null">
        measurement = #{measurement,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="hassold != null">
        hasSold = #{hassold,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        isDel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.practice.starryfood.bean.Food">
    update food
    set fname = #{fname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      measurement = #{measurement,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      hasSold = #{hassold,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createUser = #{createuser,jdbcType=VARCHAR},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.practice.starryfood.bean.Food">
    update food
    set fname = #{fname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      measurement = #{measurement,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      hasSold = #{hassold,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createUser = #{createuser,jdbcType=VARCHAR},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=INTEGER}
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
</mapper>