<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.starryfood.dao.OrderFoodMapper">
  <resultMap id="BaseResultMap" type="com.practice.starryfood.bean.OrderFood">
    <id column="order_food_uuid" jdbcType="VARCHAR" property="orderFoodUuid" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="food_id" jdbcType="VARCHAR" property="foodId" />
    <result column="food_num" jdbcType="INTEGER" property="foodNum" />
    <result column="food_one_total_price" jdbcType="DECIMAL" property="foodOneTotalPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_food_uuid, order_id, food_id, food_num, food_one_total_price
  </sql>
  <select id="selectByExample" parameterType="com.practice.starryfood.bean.OrderFoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_food
    where order_food_uuid = #{orderFoodUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_food
    where order_food_uuid = #{orderFoodUuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.practice.starryfood.bean.OrderFoodExample">
    delete from order_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.practice.starryfood.bean.OrderFood">
    insert into order_food (order_food_uuid, order_id, food_id, 
      food_num, food_one_total_price)
    values (#{orderFoodUuid,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{foodId,jdbcType=VARCHAR}, 
      #{foodNum,jdbcType=INTEGER}, #{foodOneTotalPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.practice.starryfood.bean.OrderFood">
    insert into order_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderFoodUuid != null">
        order_food_uuid,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="foodId != null">
        food_id,
      </if>
      <if test="foodNum != null">
        food_num,
      </if>
      <if test="foodOneTotalPrice != null">
        food_one_total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderFoodUuid != null">
        #{orderFoodUuid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null">
        #{foodId,jdbcType=VARCHAR},
      </if>
      <if test="foodNum != null">
        #{foodNum,jdbcType=INTEGER},
      </if>
      <if test="foodOneTotalPrice != null">
        #{foodOneTotalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.practice.starryfood.bean.OrderFoodExample" resultType="java.lang.Long">
    select count(*) from order_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_food
    <set>
      <if test="record.orderFoodUuid != null">
        order_food_uuid = #{record.orderFoodUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.foodId != null">
        food_id = #{record.foodId,jdbcType=VARCHAR},
      </if>
      <if test="record.foodNum != null">
        food_num = #{record.foodNum,jdbcType=INTEGER},
      </if>
      <if test="record.foodOneTotalPrice != null">
        food_one_total_price = #{record.foodOneTotalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_food
    set order_food_uuid = #{record.orderFoodUuid,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      food_id = #{record.foodId,jdbcType=VARCHAR},
      food_num = #{record.foodNum,jdbcType=INTEGER},
      food_one_total_price = #{record.foodOneTotalPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.practice.starryfood.bean.OrderFood">
    update order_food
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null">
        food_id = #{foodId,jdbcType=VARCHAR},
      </if>
      <if test="foodNum != null">
        food_num = #{foodNum,jdbcType=INTEGER},
      </if>
      <if test="foodOneTotalPrice != null">
        food_one_total_price = #{foodOneTotalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where order_food_uuid = #{orderFoodUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.practice.starryfood.bean.OrderFood">
    update order_food
    set order_id = #{orderId,jdbcType=VARCHAR},
      food_id = #{foodId,jdbcType=VARCHAR},
      food_num = #{foodNum,jdbcType=INTEGER},
      food_one_total_price = #{foodOneTotalPrice,jdbcType=DECIMAL}
    where order_food_uuid = #{orderFoodUuid,jdbcType=VARCHAR}
  </update>
</mapper>