/*用户名样式*/

.rightElem {
    display: inline-block;
    margin-left: 10px;
    float: right!important;
    cursor: pointer;
}

/*购物车样式*/

#shoppingCart {
    width: 60px;
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 100;
}


/*添加至购物车的按钮切换样式*/

#tianjia1,
.tianjia1 {
    cursor: pointer;
}

#tianjia2 .button,
.tianjia2 .button {
    font-size: 1.25rem;
    background: none;
    color: #333333;
    cursor: pointer;
}

#tianjia2 #shu,
.tianjia2 .shu {
    cursor: default;
}


/* 购物车列表展示的相关样式调整 */

.wrap-new {
    width: 800px;
    margin: 0 auto;
}

/* 购物车的复选框样式 */
.checkFood{
    transform: translate(-50px,130px);
}

/* 下单按钮 */
#makeOrder{
    cursor: pointer;
    height: 45px;
    width: 129px;
    font-size: 20px;
    background: #009688;
    border: none;
    color: #fff;
    transform: translate(350px,-15px);
    margin: 10px;
    border-radius: 6px;
}

#makeOrder:hover{
    background: #06796f;
    transition: background 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari 和 Chrome */
    -o-transition: width 2s; /* Opera */
}