<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.starryfood.daoExtend.CartFoodExtendMapper">

    <!-- 获取某购物车全部菜品 -->
    <select id="getFoodsFromCart" parameterType="java.lang.String" resultType="com.practice.starryfood.pojo.CartFoodExtend">
     SELECT
        A.cart_food_uuid AS cartFoodUuid,
        A.cart_id AS cartId,
        A.food_id AS foodId,
        A.food_num AS foodNum,
        A.food_one_total_price AS foodOneTotalPrice,
        B.food_name AS foodName,
        B.food_price AS foodPrice,
        B.food_measurement AS foodMeasurement,
        B.food_img AS foodImg
    FROM
        `cart_food` A
        INNER JOIN food B ON A.food_id = B.food_id
    WHERE
        A.cart_id = #{cartId}
    </select>

    <!-- 获取某购物车中某菜品信息 -->
    <select id="getFoodFromCartByFoodId" resultType="com.practice.starryfood.pojo.CartFoodExtend">
     SELECT
        A.cart_food_uuid AS cartFoodUuid,
        A.cart_id AS cartId,
        A.food_id AS foodId,
        A.food_num AS foodNum,
        A.food_one_total_price AS foodOneTotalPrice,
        B.food_name AS foodName,
        B.food_price AS foodPrice,
        B.food_measurement AS foodMeasurement,
        B.food_img AS foodImg
    FROM
        `cart_food` A
        INNER JOIN food B ON A.food_id = B.food_id
    WHERE
        A.cart_id = #{cartId}
        AND A.food_id = #{foodId}
    </select>

</mapper>