<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.starryfood.daoExtend.CartFoodExtendMapper">

    <!-- 获取某购物车全部菜品 -->
    <select id="getFoodsFromCart" parameterType="java.lang.String" resultType="com.practice.starryfood.pojo.CartFoodExtend">
     SELECT
        A.uuid,
        A.cartId,
        A.foodId,
        A.foodNum,
        A.foodOneTotalPrice,
        B.fname,
        B.price,
        B.measurement,
        B.img
    FROM
        `cart_food` A
        INNER JOIN food B ON A.foodId = B.fid
    WHERE
        A.cartId = #{cartId}
    </select>

    <!-- 获取某购物车中某类菜品信息 -->
    <select id="getFoodFromCartByFid" resultType="com.practice.starryfood.pojo.CartFoodExtend">
     SELECT
        A.uuid,
        A.cartId,
        A.foodId,
        A.foodNum,
        A.foodOneTotalPrice,
        B.fname,
        B.price,
        B.measurement,
        B.img
    FROM
        `cart_food` A
        INNER JOIN food B ON A.foodId = B.fid
    WHERE
        A.cartId = #{cartId}
        AND A.foodId = #{foodId}
    </select>

</mapper>