<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.starryfood.daoExtend.FoodExtendMapper">

    <!-- 获取全部菜品 -->
    <select id="getFoodById" parameterType="java.lang.String" resultType="com.practice.starryfood.pojo.FoodExtend">
     SELECT
        A.fid,
        A.fname,
        A.price,
        A.measurement,
        A.hasSold,
        A.introduce,
        A.img,
        B.adminName AS createUser,
        C.adminName AS updateUser
    FROM
        food A
        INNER JOIN admin B ON A.createUser = B.uuid
        LEFT JOIN admin C ON A.updateuser = C.uuid
    WHERE
        A.isdel = 0
        AND A.fid = #{fid}
    </select>
    <!-- 获取全部菜品 -->
    <select id="getAllFoods" resultType="com.practice.starryfood.pojo.FoodExtend">
     SELECT
        A.fid,
        A.fname,
        A.price,
        A.measurement,
        A.hasSold,
        A.introduce,
        A.img,
        B.adminName AS createUser,
        C.adminName AS updateUser
    FROM
        food A
        INNER JOIN admin B ON A.createUser = B.uuid
        LEFT JOIN admin C ON A.updateUser = C.uuid
    WHERE
        A.isDel = 0
    </select>

</mapper>